.DS_Store
logs/
*.log
.env
.env.*
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
dist/
coverage/
node_modules/
**/.npm-cache/
**/.wrangler/
apps/client/android/.gradle/
apps/client/android/app/debug
apps/client/android/app/profile
apps/client/android/app/release
apps/client/macos/Flutter/ephemeral/
apps/client/windows/flutter/ephemeral/
.workbuddy/
.qwen/
.omo/
